@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel .control-dots,
.carousel .thumbs-wrapper,
.carousel .carousel-status {
}
.contain-blue {
  background: rgba(66, 226, 194, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.contain-black {
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@font-face {
  font-family: "Expletus-regular";
  src: url("../fonts/Expletus_Sans/static/ExpletusSans-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Bungee-regular";
  src: url("../fonts/Bungee/Bungee-Regular.ttf") format("truetype");
}

button {
  background: #fff;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
}

span {
  display: inline-block;
  transform: skew(21deg);
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

button:hover {
  color: #fff;
}

button:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

.image9 {
  background-image: url("https://www.istockphoto.com/fr/photo/boxer-en-gants-rouges-banni%C3%A8re-sportive-gm1364252205-435522510");
}
